.app-container {
	display: flex;
	flex-direction: column;
	.title {
		position: relative;
		align-self: center;
		font-style: italic;
		text-decoration: underline;
		font-size: xx-large;
	}
	.app-header {
		.uuid-filter {
			border-bottom: 1px solid black;
		}
	}
}
